.topSectionHomePageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  div:has(svg) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 170px;
  }

  svg {
    height: 150px;
    width: 140px;
  }

  div:has(p) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  br {
    display: none;
  }

  p {
    width: 70%;
    padding-bottom: 30px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.05em;
    font-weight: 300;
    position: relative;
    display: flex;
    justify-content: center;
  }

  p::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    background-color: black;
    bottom: 0;
    left: 15%;
  }

  @media (max-width: 768px) {
    grid-template-columns: 100%;

    div:has(svg) {
      display: flex;
      justify-content: center;
      height: 100%;
      padding: 10px;
    }

    svg {
      width: 75px;
      height: 75px;
    }

    br {
      display: inline;
    }

    p {
      width: 90%;
      line-height: 35px;
      font-size: 14px;
      font-weight: 400;
      border-left: 0;
      border-right: 0;
    }

    p::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
    }
  }
}

.carousel-root .carousel .slider-wrapper .slider {
  width: 760px;
}

.carousel-root .carousel .slider-wrapper .slider .slide img {
  height: 400px;
  width: 600px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-root .carousel .slider-wrapper .slider {
    width: auto;
  }

  .carousel-root .carousel .slider-wrapper .slider .slide img {
    height: 400px;
    width: 500px;
    object-fit: cover;
  }
}
