.menuPageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 22px 0;
    padding: 0 10px;
    position: relative;
    width: 50%;
    box-shadow: 0px 10px 20px -3px rgba(87, 88, 110, 0.3);
    background-color: #f9f6ee;
  }

  > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  > div > div > div:last-child:has(img) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  > div > div > div:last-child:has(img) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  > div > div > div:last-child:has(img) > div > span {
    margin-top: 5px;
  }

  h2 {
    font-size: 2rem;
    margin: 30px;
    text-decoration: underline;
    padding-top: 20px;
  }

  h2,
  h3 {
    color: $grey-900;
    font-weight: 600;
  }

  h2,
  h3,
  span {
    letter-spacing: 0.025em;
  }

  .divider {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
    hr {
      border: none;
      border-bottom: 1px solid #333;
      height: 5px;
      width: 100%;
    }
    h3 {
      font-size: 1.5rem;
      white-space: nowrap;
      margin: 0 10px;
    }
  }

  li {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "chapter page";
    gap: 0 0.25rem;
    padding: 10px 0;
  }

  span {
    color: $grey-800;
  }

  ul > span {
    color: $grey-900;
    font-weight: 900;
  }

  span:first-child {
    text-transform: uppercase;
    grid-area: chapter;
    position: relative;
    overflow: hidden;
  }

  span:first-child::after {
    position: absolute;
    padding-left: 0.25ch;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right;
  }

  img {
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    > div {
      width: 90%;
      margin-top: 10px;
    }

    img {
      width: 140px;
      height: 140px;
    }

    > div > div > div:last-child:has(img) > div > span {
      text-wrap: wrap;
      white-space: normal;
      word-break: break-word;
      text-align: center;
    }

    .picturesContainer > div {
      margin: 10px;
    }

    .pictureContainer div {
      margin-top: 10px;
    }

    h2 {
      font-size: 1.7rem;
      margin: 20px;
    }

    .divider h3 {
      width: 800px;
      white-space: break-spaces;
      text-align: center;
      font-size: 1.3rem;
    }

    li {
      align-items: flex-end;
    }

    span:last-child {
      white-space: nowrap;
    }

    span {
      font-size: 0.9rem;
      padding: 1.5px;
    }

    ul > span {
      color: $grey-900;
      font-size: 0.8rem;
      font-weight: 900;
    }

    div > div:has(h3) {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    span:first-child {
      text-transform: none;
    }
  }
}
/*
Click To Call anchor
*/
.click-to-call-container {
  z-index: 3;
  position: fixed;
  right: 0;
  top: 200px;
  border: 1px solid $red-900;
  border-radius: 0.5rem;
  font-weight: $font-medium;
  font-size: $text-sm;
  padding: 0.625rem 1.25rem;
  text-align: center;
  margin-inline-end: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: $red-900;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.click-to-call-container svg {
  width: 25px;
  height: 25px;
}

.click-to-call-container:hover {
  background-color: $red-800;
}

.click-to-call-container span {
  margin: 0 0.7rem;
}

@media (max-width: 768px) {
  .click-to-call-container {
    top: 65px;
  }
}
