@import "./common.scss";

.navBarContainer {
  background-color: $red-900;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  transition: height 0.2s;
  z-index: 100;
  color: #fff;

  .menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menuContainer > ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 70%;
  }

  .menuContainer div > ul {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
  }

  .menuContainer div > ul li {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }

  .menuContainer div > ul li:hover {
    font-weight: 900;
  }

  .menuContainer div > ul::after {
    content: "";
    position: absolute;
    height: 20%;
    width: 1px;
    background-color: #fff;
  }

  a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  a:not(.logo):after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition: width 0.2s;
  }

  .active:not(.logo):after {
    width: 100%;
  }

  a:not(.logo):hover::after {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navBarContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .navBarIconsContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      margin: 0 15px;

      span {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      .burgerMenuIcon {
        visibility: hidden;
      }

      .closeMenuIcon {
        visibility: hidden;
      }
    }

    .menuContainer {
      position: absolute;
      height: 0;
      justify-content: flex-end;
    }

    ul,
    li {
      display: none;
    }

    .menuContainer div > ul {
      right: 15px;
      position: relative;
    }

    .menuContainer div > ul::after {
      height: 100%;
    }

    .responsiveMenuContainer {
      background-color: $red-900;
      width: 100%;
      position: absolute;
      top: 60px;
      height: 90vh;
      transition: height 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .mainTitleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
      color: white;

      div {
        align-items: center;
        display: flex;
        flex-direction: column;
      }

      svg {
        margin-bottom: 5px;
      }
      h1 {
        position: relative;
        width: 250px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        text-align: center;
        letter-spacing: 0.02em;
      }
      @include mainTitleContainer;

      span {
        margin-top: 5px;
        font-size: 0.9rem;
      }
    }

    .responsiveMenuContainer ul {
      height: 550px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .responsiveMenuContainer ul li {
      display: flex;
      margin: 30px;
    }

    a:hover {
      font-weight: 900;
    }
  }
}
