form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-header-container h1 {
  padding: 0;
  margin: 0;
  font-size: $text-2xl;
  color: $grey-900;
  letter-spacing: $tracking-tight;
  line-height: $leading-tight;
  font-weight: $font-bold;
}

.form-header-container p {
  font-size: $text-sm;
  font-weight: $font-light;
  padding: 1rem 0;
  color: $grey-500;
  margin: 0;
}

.bottom-text-form-container {
  color: $grey-500;
}

.bottom-text-form-container a {
  color: $primary-600;
  text-decoration: none;
}

.bottom-text-form-container a:hover {
  text-decoration: underline;
}

.form-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.label-form {
  display: block;
  margin-bottom: 0.5rem;
  font-size: $text-sm;
  line-height: $leading-5;
  font-weight: $font-medium;
  color: $grey-900;
}

.error-message-container {
  position: relative;
}

.error-message-container span {
  position: absolute;
  top: 0.2rem;
  margin: 0;
  font-size: $text-sm;
  line-height: $leading-5;
  font-weight: $font-medium;
  color: $red-500;
}
